* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #002169;
    display: flex;
    flex-direction: column;
    justify-content: center; /* լոգոն կենտրոնում վերտիկալ */
    align-items: center;     /* լոգոն կենտրոնում հորիզոնտալ */
    position: relative;      /* տեքստի absolute դիրքի համար */
}

.box {
    width: 30%;
    aspect-ratio: 22 / 9;
    background-image: url('./images/cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
}
.text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    position: absolute;
    bottom: 20px; 
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    span{
        font-size: 27px;
        font-family: 'Lato', sans-serif;
        font-weight: 700; 
    }  
    
    a {
        text-decoration: none;
        color: #FFF;
    }
}

.subtext{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}