* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: #002169;
    overflow: hidden; /* հանում ա scroll-ը */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: #002169;
    display: flex;
    flex-direction: column;
    justify-content: center; /* լոգոն կենտրոնում վերտիկալ */
    align-items: center;     /* լոգոն կենտրոնում հորիզոնտալ */
    position: relative;      /* տեքստի absolute դիրքի համար */
    overflow: hidden;        /* հեռացնում ա ավելորդ scroll-ը */
  }
  
  .box {
    width: 30%;
    aspect-ratio: 22 / 9;
    background-image: url('./images/cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
  
  .text span {
    font-size: 27px;
    font-weight: 700;
  }
  
  .text a {
    text-decoration: none;
    color: #fff;
  }
  
  .subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  @media screen and (max-width: 450px) {
    .box {
      width: 80%; /* ավելի մեծ լոգո՝ փոքր էկրանների համար */
    }
  
    .subtext {
      flex-direction: column;
      gap: 5px;
    }
  
    .subtext div {
      display: none;
    }
  
    html, body, .container {
      height: 100dvh; /* օգտագործում ա device viewport height՝ հեռախոսների համար */
      overflow: hidden;
    }
  }
  